<div class="slider">
	<div class="splide">
		<div class="splide__track">
			<ul class="splide__list">
				<li class="splide__slide" style="background-image:url('/images/shop.jpg')">
					<div class="container">
						<div class="row">
							<div class="col-12 col-lg-8">
								<p class="slide__heading">New Range now Available</p>
								<p class="slide__body">Our new range of products is now available to help you build the perfect party.</p>
								<a href="/shop" class="button">Our Shop</a>
							</div>
						</div>
					</div>
				</li>
				<li class="splide__slide" style="background-image:url('/images/marvel.jpg')">
					<div class="container">
						<div class="row">
							<div class="col-12 col-lg-8">
								<p class="slide__heading">Marvel Party Theme</p>
								<p class="slide__body">Our all new Marvel Party theme is now available for all our Tier 1, 2, or 3 parties!</p>
								<a href="/book" class="button">Book a Party</a>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
